{% load static %}
{% load comments_tags %}
<div>
    {% get_parent_comment article as comments%}
    {% for comment in comments %}
    
        
        <article class="comment ">
            <header class="clearfix">
                <img src="{% static "img/avatar.png" %}" alt="{{ comment.name }}" class="avatar">
                <div class="meta">
                    <h3><a href="{{ comment.url }}">{{ comment.name }}</a></h3>
                    <span class="date">
                        {{ comment.date_publish }}
                    </span>
                    <span class="separator">
                        -
                    </span>
                    
                    <a href="#create-comment" class="reply-link">Reply</a>                
                </div>
            </header>
             <div class="body">
               {{ comment.content }}
            </div>
        </article>


            {% get_child_comment comment as comments %}
            {% for comment in comments %}
                <article class="comment reply">
                    <header class="clearfix">
                        <img src=" {% static "img/avatar.png" %}" alt="{{ comment.name }}" class="avatar">
                        <div class="meta">
                            <h3><a href="#">{{ comment.name }}</a></h3>
                            <span class="date">
                                {{ comment.date_publish }}
                            </span>
                        </div>
                    </header>
                     <div class="body">
                       {{ comment.content }}
                    </div>
                </article>
            {% endfor %}

    {% endfor %}
</div>