<div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>关于</h3>

                       <p>本站建立于2018/8/17（七夕），是基于Django建立的个人博客</p>
                       <p></p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i>所用技术</h3>
                        <ul class="clean-list">
                            <li><a href="">前端技术：bootstrap；</a></li>
                            <li><a href="">后台技术：Django；</a></li>
                            <li><a href="">数据库：Mysql；</a></li>
                            <li><a href="">服务器配置：浪潮云（1C1H1M）；</a></li>
                            <li><a href="">服务器：Nginx+Gunicorn+Django+Python3；</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>联系我们</h3>

                        <p>第一次使用Django开发项目，也是第一个Django上线的项目，希望里面的文章能够帮到大家！</p>
                        <p>如果你有任何疑问可以在文章下面评论，必要时可以点击下面的小图标联系我们！</p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-qq"></i><i class="fa fa-wechat"></i><i class="fa fa-twitter"></i>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>