<div id="pagenav" class="noselect">
    <div class="pagenav_btn">
            {% if article_list.has_previous %}
            <div class="previous pull-left">
                <a class="previous-page" href="?page={{ article_list.previous_page_number }}">
                    <button type="button" class="btn btn-default">上一页</button>
                </a>
            </div>
            {% endif %}

        {% if article_list.has_next %}
            <div class="next pull-right">
                <a class="next-page" href="?page={{ article_list.next_page_number }}">
                    <button type="button" class="btn btn-default">下一页</button>
                </a>
            </div>
        {% endif %}
    </div>
</div>